<div class="container">
    <div class="my-3">
      <h2>Take, Take Last, Take Until Operator</h2>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <strong>Take -01</strong>
            <hr>
            <ul id="elContainer">
                
            </ul>
        </div>


        <div class="col-md-4">
            <strong>Take Last -02</strong>
            <hr>
            <ul id="elContainer1">
                
            </ul>
        </div>

        <div class="col-md-4">
            <strong>Take Until -03</strong>
            <hr>
            <ul id="elContainer2">
                
            </ul>
        </div>
    </div>







    </div>