<div class="container">
  <div class="my-3">
    <h2>Map Operator</h2>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Map Table-3</div>
        <br>
   
        <ul id="elContainer"></ul>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card">
          <div class="card-header">Map Table-1</div>
          <ul id="elContainer-1"></ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Map Object Data</div>
          <ul id="elContainer-2"></ul>
        </div>
      </div>
    </div>
</div>


