<div class="container">
  <div class="my-3">
    <h2>from-event</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add video</div>
        <div class="card-body">
          <button #addBtn class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
        <ul id="elCotainer">
            
        </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-header">List</div>
          <div class="card-body">
          <ul id="elCotainer-1">
              
          </ul>
          </div>
        </div>
      </div>
  </div>
</div>
