<div class="container"[ngStyle]="{'color': myColor}">
    <div class="my-3">
      <h2>Tap Operator</h2>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            <strong>Exm -01</strong>
            <hr>
            <ul id="elContainer">
                
            </ul>
        </div>


        <div class="col-md-6">
            <strong>Exm -02</strong>
            <hr>
            <ul id="elContainer1">
                
            </ul>
        </div>
    </div>







    </div>